---
layout: archive
---

{{ content }}


<ul class="taxonomy__index">
  {% assign sorted_tags = site.tags | sort %}
  {% for tag in sorted_tags %}
  {% assign cat_tag = tag[1] | where: "categories", "work" | sort %}
  {% if cat_tag != empty %}
  <li>
    <a href="#{{ tag[0] | slugify }}">
      <strong>{{ tag[0] }}</strong> <span class="taxonomy__count">{{ i }}</span>
    </a>
  </li>
  {% endif %}
  {% endfor %}
</ul>

{% assign entries_layout = page.entries_layout | default: 'grid' %}
{% for tag in sorted_tags %}
{% assign cat_tag = tag[1] | where: "categories", "work" | sort %}
{% if cat_tag != empty %}
<section id="{{ tag[0] | slugify | downcase }}" class="taxonomy__section">
  <h3 class="archive__subtitle">{{ tag[0] }}</h3>
  <div class="entries-{{ entries_layout }}">
    {% for post in cat_tag %}
    {% include archive-single.html type=entries_layout %}
    {% endfor %}
  </div>
  <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }}
    &uarr;</a>
</section>
{% endif %}
{% endfor %}